
.carousel {

}

.carouselItem {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  width: 60%;
}

.carouselTitle {
  font-family: pixel;
  font-size: 3rem;
  text-transform: uppercase;
}

.carouselText {
  padding: 1rem 2rem;
}

.carouselTip {
  font-family: sohne-breit-fett;
  padding-top: 2rem;
}