.container {
  color: var(--white);
  height: fit-content;
}

.title {
  font-family: sohne-breit-fett;
  font-size: 1.8rem;
  padding: 2rem 2rem 0.5rem;
  text-transform: uppercase;
}

.text {
  border-bottom: 1.5px solid var(--white);
  padding-bottom: 2rem;
}

.empty {
  padding: 2rem 1rem;
}

.list {
  display: flex;
  flex-direction: column;
  height: 18rem;
  overflow-y: scroll;
  padding: 2rem;
}

.listItem {
  font-size: 1.6rem;
  overflow-wrap: break-word;
  padding: 1rem 1rem 1rem 3rem;
  position: relative;
}

.listItem::before {
  background-image: url(../../public/assets/img/bol.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0.5rem;
  width: 1rem;
}

.text {
  padding: 1.5rem;
  text-align: center;
}

.password {
  background-color: var(--green);
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  width: 100%;
}

.char {
  border-bottom: 1px solid var(--black);
  color: var(--black);
  padding: 1rem 0.2rem;
  margin: 1rem 1rem 1rem 0;
}
