/* user */
.userInfo {
  grid-column: 2 / span 7;
  grid-row: 2 / span 4;
}

.strongness {
  border-bottom: 2px solid var(--gridorange);
  grid-column: 22 / span 9;
  grid-row: 1 / span 5;
}

.winner {
  left: 30vw;
  position: absolute;
  top: 12vh;
  width: 40vw;
  z-index: 2;
}

.winnerHacker {
  composes: winner;
}

.tips {
  left: 47vw;
  position: absolute;
  top: 40vh;
  width: 45vw;
  z-index: 2;
}

.password {
  left: 15vw;
  position: absolute;
  top: 49vh;
  width: 40rem;
  z-index: 3;
}

.discoveries {
  left: 15vw;
  position: absolute;
  top: 49vh;
  width: 40rem;
  z-index: 3;
}

@media only screen and (max-width: 1400px) {
  .winner {
    left: 40vw;
    position: absolute;
    top: 12vh;
    width: 40vw;
    z-index: 2;
  }

  .strongness {
    border-top: 2px solid var(--gridorange);
    grid-column: 17 / span 9;
  }

  .winner {
    top: 32vh;
  }

  .tips {
    top: 61vh;
  }

  .password {
    left: 8vw;
    top: 55vh;
  }

  .winnerHacker {
    top: 25vh;
  }
}

@media only screen and (max-width: 1250px) {
  .strongness {
    grid-column: 10 / span 9;
    grid-row: 1 / span 5;
  }
}
