.container {
  display: flex;
}

.imgRight {
  height: 100%;
}

.imgLeftConfetti {
  transform: scaleX(-1);
}

.content {
  align-items: center;
  background-position: center left, center right;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  margin: 0 -2rem;
  padding: 3rem 0;
  text-align: center;
}

.contentHacker {
  composes: content;
  color: var(--white);
}

.title {
  font-family: sohne-breit-fett;
  font-size: 3rem;
  padding-bottom: 2rem;
  order: 2;
  text-transform: uppercase;
}

.subtitle {
  font-size: 2.2rem;
  order: 1;
}

.text {
  order: 3;
}
