.article {
  align-items: center;
  background-color: var(--brown);
  border-left: .2rem solid var(--gridorange);
  display: flex;
  flex-direction: column;
  height: -webkit-fill-available;
  justify-content: center;
  margin: 1rem 0 0;
  width: fit-content;
  box-shadow: inset  0rem .5rem 0 0 var(--shadow);
}

.title {
  font-family: sohne-breit-fett;
  font-size: 1.8rem;
  grid-column: 1 / span 2;
  padding: 3rem 2rem 1rem;
  text-transform: uppercase;
}

.text {
  text-align: center;
  width: 75%;
}

.percentage {
  font-size: 2rem;
  padding: 2rem 0 1.5rem;
}

.progressEmpty {
  border: 0.1rem solid red;
  height: 2rem;
}

.bar {
  border: 0.1rem solid red;
  height: 3rem;
  margin-bottom: 3rem;
  width: 40rem;
}

.progess {
  background-color: var(--green);
  height: 2.8rem;
  transition: 0.5s all ease-in-out;
}

.moreInfoImg{
  height: 0rem;
  position: relative;
  bottom: 4rem;
  left: 13rem;
}

.moreInfoImg{
  cursor: pointer;
}
