.container {
  background-image: url(../../public/assets/img/useractions/ad-bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 48rem;
}

.title {
  font-family: sohne-breit-fett;
  font-size: 3.6rem;
  left: 2rem;
  position: relative;
  top: 2rem;
  text-transform: uppercase;
  width: 50%;
}

.text {
  align-self: flex-start;
  font-size: 1.8rem;
  line-height: 1.8rem;
  left: 2rem;
  position: relative;
  top: 2rem;
  width: 55%;
}

.img {
  transform: translate(26rem, 18.7rem);
}