.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 4rem 5rem 2rem;
}

.title {
  font-family: sohne-breit-fett;
  font-size: 3.6rem;
  text-align: center;
  text-transform: uppercase;
  width: 80%;
}

.action {
  font-family: sohne-breit;
  font-size: 1.8rem;
  padding: 1rem 0;
}

.text {
  align-self: flex-start;
  color: var(--purple);
  font-family: pixel;
  font-size: 2rem;
  padding: 3rem 0 1rem;
}

.textFirst {
  composes: text;
  padding-top: 0;
}

.img {
  padding: 1rem 0;
}

.form {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.password {
  align-self: flex-start;
  display: flex;
  margin-bottom: 1rem;
}

.passwordText {
  align-self: flex-start;
  background-color: var(--white);
  border: 0.1px solid var(--black);
  font-size: 2rem;
  padding: 1rem 1rem;
  width: 100%
}

.character {
  background-color: var(--white);
  border: 0.1px solid var(--black);
  font-size: 2rem;
  margin: 0.5rem;
  padding: 1rem 0;
  text-align: center;
  width: 3.5rem;
}

.input {
  background-color: var(--green);
  composes: character;
  /* height: 3rem; */
  padding: 0;
  text-align: center;
  width: 3.5rem;
}

.input:focus {
  outline: none;
}

.error {
  color: var(--red);
  font-size: 1.6rem;
}
