.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-family: "sohne-breit-fett", Helvetica, sans-serif;
  font-size: 4rem;
  text-transform: uppercase;
}

.subtitle {
  font-family: "sohne-breit-semifett" , Helvetica, sans-serif;;
  font-size: 2rem;
  margin-top: 4rem;
  text-transform: uppercase;
}

.text {
  font-family: "sohne-breit" , Helvetica, sans-serif;;
  padding: 1rem 0 0;
  text-align: center;
  width: 50%;
}

.actionsContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem auto;
  justify-content: center;
}

.actionButton {
  background-color: var(--green);
  border: 0.1rem solid var(--black);
  box-shadow: 0.1rem 0.1rem 0 0 var(--black), 0.2rem 0.2rem 0 0 var(--black),
    0.3rem 0.3rem 0 0 var(--black), 0.4rem 0.4rem 0 0 var(--black),
    0.5rem 0.5rem 0 0 var(--black), 0.6rem 0.6rem 0 0 var(--black);
  display: grid;
  grid-template-columns: 15rem auto 5rem;
  height: 10rem;
  margin: 1.5rem;
  min-width: 50rem;
  padding: 0;
  text-align: left;
  transition: 0.2s all ease;
  width: 40%;
  font-family: Helvetica, sans-serif;
}

.actionButton:hover {
  box-shadow: 0.1rem 0.1rem 0 0 var(--black), 0.2rem 0.2rem 0 0 var(--black);
  cursor: pointer;
  transform: translate(0.2rem, 0.2rem);
}

.actionButtonVpn {
  composes: actionButton;
  grid-template-rows: 1fr 1fr 1fr;
}

.actionButtonDisabled {
  composes: actionButtonVpn;
  pointer-events: none;
  opacity: .5;
}

.actionButtonDisabled:hover {
  box-shadow: 0.1rem 0.1rem 0 0 var(--black), 0.2rem 0.2rem 0 0 var(--black),
    0.3rem 0.3rem 0 0 var(--black), 0.4rem 0.4rem 0 0 var(--black),
    0.5rem 0.5rem 0 0 var(--black), 0.6rem 0.6rem 0 0 var(--black);
  cursor: default;
  transform: none;
}

.actionImg {
  background-color: var(--white);
  border-right: 1px solid var(--black);
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
  height: 9.8rem;
  padding: 1rem;
  width: 13rem;
}

.actionImgWarning {
  composes: actionImg;
  padding: 0rem 2rem;
}

.actionImgVpn {
  composes: actionImg;
  padding: 1.5rem 1rem;
}

.actionTitle {
  align-self: flex-end;
  font-family: "sohne-breit-fett", Helvetica, sans-serif;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  padding: 1.5rem 0 0.5rem;
}

.actionSubtitle {
  font-family: "sohne", Helvetica, sans-serif;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  padding: 0 0 1.5rem;
}

.actionButtonVpn .actionSubtitle {
  padding-bottom: 0.5rem;
}

.actionExtra {
  font-family: "sohne", Helvetica, sans-serif;
  font-size: 1.3rem;
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  text-align: center;
}

.actionBottomText {
  font-family: "sohne-breit", Helvetica, sans-serif;
  padding-bottom: 5rem;
}


.moreInfoImg{
  margin-right: -2.5rem;
  transform: translate(-5rem, 2.5rem);
}

.moreInfoImg:hover{
cursor: pointer;
}