/* gameboard gaat nog wegmogen */
.gameboard {
  height: fit-content;
  width: fit-content;
  z-index: 5;
  background-color: white;
}
/* gameboard gaat nog wegmogen */

.userContainer {
  background-color: var(--brown);
  min-height: 100vh;
  background-size: 5.5rem 5.5rem;
  background-position: 5rem 4rem;
  background-image: linear-gradient(
      to right,
      var(--gridorange) 0.16rem,
      transparent 0.16rem
    ),
    linear-gradient(to bottom, var(--gridorange) 0.16rem, transparent 0.16rem);
}

.hackerContainer {
  composes: userContainer;
  background-color: var(--black);
  background-image: linear-gradient(
      to right,
      var(--gridyellow) 0.16rem,
      transparent 0.16rem
    ),
    linear-gradient(to bottom, var(--gridyellow) 0.16rem, transparent 0.16rem);
}

.userHeader {
  background-color: var(--red);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0.2rem solid var(--black);
  border-bottom: 0.2rem solid var(--black);
  box-shadow: 0rem 0.5rem var(--shadow);
  padding: 0 3rem;
}

.hackerHeader {
  composes: userHeader;
  background-color: var(--yellow);
}

.title {
  display: none;
}

.logo {
  margin: 0.5rem 0;
}

.main {
  display: grid;
  grid-template-columns: repeat(auto-fill, 5.5rem);
  grid-template-rows: repeat(15, 5.5rem);
  margin: -1rem -0.5rem;
  width: 100%;
}

/* user */
.userInfo {
  grid-column: 2 / span 7;
  grid-row: 2 / span 10;
}

.strongness {
  grid-column: 22 / span 9;
  grid-row: 1 / span 5;
}

.password {
  justify-self: center;
  grid-column: 1 / span 32;
  grid-row: 2;
  width: fit-content;
  z-index: 4;
}

.cookies {
  left: calc(55vw / 2);
  position: absolute;
  top: 12vh;
  width: 45vw;
  z-index: 5;
}

.vpn {
  composes: cookies;
  z-index: 5;
}

.userAd {
  left: calc((100% - 90rem) / 2);
  position: absolute;
  top: 20vh;
  width: 90rem;
  z-index: 2;
}

.warningmail {
  left: calc(55vw / 2);
  position: absolute;
  top: 15vh;
  width: 45vw;
  z-index: 5;
}

/* hacker */
.hackerInfo {
  grid-column: 2 / span 7;
  grid-row: 2 / span 10;
}

.discoveries {
  grid-column: 7 / span 7;
  grid-row-start: 9;
  margin: 2rem;
  z-index: 2;
}

.interests {
  grid-column: 2 / span 7;
  grid-row-start: 10;
  margin: 2rem;
  z-index: 2;
}

.hack {
  grid-column: 21 / span 7;
  grid-row-start: 2;
  margin: 2rem;
  z-index: 4;
}

.decryption {
  left: 25vw;
  position: absolute;
  top: 15%;
  width: 50vw;
  z-index: 4;
}

.screencapture {
  left: calc(55vw / 2);
  position: absolute;
  top: 12vh;
  width: 45vw;
  z-index: 2;
}

.hackerAd {
  left: calc(55vw / 2);
  position: absolute;
  top: 12vh;
  width: 45vw;
  z-index: 2;
}

.hackerVpn {
  left: 30vw;
  position: absolute;
  top: 20vh;
  width: 40vw;
  z-index: 5;
}

/* user and hacker */
.notes {
  grid-column: 24 / span 7;
  grid-row-start: 7;
  margin: 2rem;
}

.action {
  left: 15%;
  position: absolute;
  top: 15%;
  width: 70vw;
  z-index: 3;
}

.turn {
  left: 30vw;
  position: absolute;
  top: 20vh;
  width: 40vw;
  z-index: 5;
}

.yourturn {
  left: 30vw;
  position: absolute;
  top: 20vh;
  width: 40vw;
  z-index: 4;
}

.random {
  left: 25vw;
  position: absolute;
  top: 10vh;
  width: 50vw;
  z-index: 4;
}

.spammail {
  left: 25vw;
  position: absolute;
  top: 10vh;
  width: 50vw;
  z-index: 2;
}

.wifi {
  left: 30vw;
  position: absolute;
  top: 20vh;
  width: 40vw;
  z-index: 2;
}

.spicy {
  left: 30vw;
  position: absolute;
  top: 20vh;
  width: 40vw;
  z-index: 2;
}

/* header */
.time {
  font-family: "pixel";
  font-size: 2rem;
  margin-left: 0.7rem;
}

.headerRight {
  display: flex;
  align-items: center;
}

.headerIcon {
  margin: 0 1rem;
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: 0.2s all ease;
}

.popup {
  transition: 0.2s all ease;
  width: 15rem;
  background-color: var(--orange);
  border: 0.1rem solid;
  text-align: center;
  padding: 1rem;
  position: absolute;
  z-index: 1;
  font-size: 1.6rem;
  bottom: -5.3rem;
  left: -6.4rem;
  font-family: "pixel";
  box-shadow: .5rem .5rem var(--shadow);
  z-index: 5;
}

.headerIcon .popup::after {
  content: "";
  position: absolute;
  top: -2rem;
  left: 50%;
  margin-left: -1rem;
  border-width: 1rem;
  border-style: solid;
  border-color: transparent transparent var(--black) transparent;
}

.headerIcon .popupDice::after {
  left: 13rem;
}

.popupDice{
  composes: popup;
  bottom: -15rem;
  width: 22rem;
  left: -12rem;
}

.popupText{
  border-top: .1rem dashed var(--black);
  padding-top: .2rem;
  margin: .3rem 0
}

.popupTitle{
  text-transform: uppercase ;
}

@media only screen and (max-width: 1250px) {
  .strongness {
    grid-column: 10 / span 9;
    grid-row: 1 / span 5;
  }

  .notes {
    grid-column: 12 / span 7;
    grid-row-start: 7;
    margin: 2rem;
  }
}
