.fieldRow1{
    border: .2rem solid black;
    height: 10rem;
    margin-left: -.2rem;
    width: 10rem;
}

.fieldRow2{
    composes: fieldRow1;
    margin-bottom: -.2rem;
}

.container{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

.pion1{
    font-size: 8rem;
    margin-top: -5rem;
    color: green;
    line-height: 1;
}

.pion2{
    composes: pion1;
    margin-top: -12rem;
    margin-left: 3rem;
    color: blue;
}

.row1{
    display: flex;
}

.board{
    display: flex;
    flex-direction: row;
}

.player1Stats{
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1;
    color: green;
}

.player2Stats{
    composes: player1Stats;
    color: blue
}