.container{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

.board {
    display: grid;
    grid-template-columns: 2rem 14rem 2rem;
    grid-template-rows: 2rem 14rem 2rem;
    font-size: .5rem;
  
}

.row1 {
    align-self: flex-start;
    display: flex;
    justify-self: flex-start;
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
}

.row2 {
    display: flex;
    flex-direction: column;
    justify-self: right;
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
}

.row3 {
    display: flex;
    flex-direction: row-reverse;
    grid-column: 1 / span 3;
    grid-row: 3 / span 1;
}

.row4 {
    display: flex;
    flex-direction: column-reverse;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

.fieldRow {
    border: .1rem solid black;
    height: 2rem;
    width: 2rem;
    display: flex;
}

.fieldRow1 {
  composes: fieldRow;
  border-right: none;
}

.fieldRow1:last-of-type {
    border-right: .1rem solid black;
}

.fieldRow2 {
    composes: fieldRow;
    border-bottom: none;
}

.fieldRow3 {
    composes: fieldRow;
    border-left: none;
}

.fieldRow3:last-of-type {
    border-left: .1rem solid black;
}

.fieldRow4 {
    composes: fieldRow;
    border-top: none;
}

.pion1 {
    font-size: 1rem;
    color: green;
}

.pion2 {
    composes: pion1;
    color: blue;
}

.player1Stats{
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1;
    color: green;
}

.player2Stats{
    composes: player1Stats;
    color: blue
}