.userContainer {
  background-color: var(--brown);
  min-height: 100vh;
  background-size: 5.5rem 5.5rem;
  background-position: 5rem 4rem;
  background-image: linear-gradient(
      to right,
      var(--gridorange) 0.16rem,
      transparent 0.16rem
    ),
    linear-gradient(to bottom, var(--gridorange) 0.16rem, transparent 0.16rem);
}

.hackerContainer {
  composes: userContainer;
  background-color: var(--black);
  background-image: linear-gradient(
      to right,
      var(--gridyellow) 0.16rem,
      transparent 0.16rem
    ),
    linear-gradient(to bottom, var(--gridyellow) 0.16rem, transparent 0.16rem);
}

.userHeader {
  background-color: var(--red);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0.2rem solid var(--black);
  border-bottom: 0.2rem solid var(--black);
  box-shadow: 0rem 0.5rem var(--shadow);
  padding: 0 3rem;
}

.hackerHeader {
  composes: userHeader;
  background-color: var(--yellow);
}

.title {
  display: none;
}

.logo {
  margin: 0.5rem 0;
}

.main {
  display: grid;
  grid-template-columns: repeat(auto-fill, 5.5rem);
  grid-template-rows: repeat(15, 5.5rem);
  margin: -1rem -.5rem;
  width: 100%;
}

.info {
  grid-column: 2 / span 7;
  grid-row: 2 / span 10;
}

.strongness {
  grid-column: 22 / span 9;
  grid-row: 1 / span 5;
}

.notes {
  grid-column: 15 / span 7;
  grid-row: 15 / span 5;
  margin: 2rem;
}

.warnings {
  grid-column: 5 / span 7;
  grid-row: 19/ span 5;
  margin: 2rem;
}

.time {
  font-family: "pixel";
  font-size: 1.8rem;
}
