.container{
  background-color: var(--brown);
  min-height: 100vh;
  background-size: 6rem 6rem;
  background-position: center; 
  background-image:
    linear-gradient(to right, var(--gridorange) .16rem, transparent .16rem),
    linear-gradient(to bottom, var(--gridorange) .16rem, transparent .16rem);
}

.header {
  background-color: var(--red);
  display: flex;
  justify-content: center;
  border-top: .2rem solid var(--black);
  border-bottom: .2rem solid var(--black);
  box-shadow: 0rem .5rem var(--shadow) ;
}

.title{
  display: none;
}

.logo{
  margin: 1rem 0;
}