.container{
  background-color: var(--brown);
  min-height: 100vh;
  background-size: 6.2rem 6.2rem;
  background-position: center; 
  background-image:
    linear-gradient(to right, var(--gridorange) .2rem, transparent .2rem),
    linear-gradient(to bottom, var(--gridorange) .2rem, transparent .2rem);
}

.header {
  background-color: var(--red);
  display: flex;
  justify-content: center;
  border-top: .2rem solid var(--black);
  border-bottom: .2rem solid var(--black);
}

.title{
  display: none;
}

.logo{
  margin: 1rem 0;
}