.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 80vh;
  overflow-y: scroll;
  padding: 5rem 10rem 2rem;
}

.title {
  font-family: sohne-breit-fett;
  font-size: 3.6rem;
  text-align: center;
  text-transform: uppercase;
}

.text {
  font-size: 1.7rem;
  margin: 1rem 0;
}

.borderTop {
  composes: text;
  border-top: 2px solid var(--green);
  padding-top: 2rem;
}

.label {
  font-size: 1.5rem;
  line-height: 1.4rem;
  padding: 0 0;
}

.email {
  font-size: 1.7rem;
  padding-bottom: 2rem;
}