.container {
  background-color: var(--red);
  background-image: url(../public/assets/img/spicy.svg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;

  /* max-height: 80vh; */
  min-height: 70rem;
  /* overflow-y: scroll; */
  padding: 5rem 5rem 2rem;
}

.title {
  font-family: sohne-breit-fett;
  font-size: 3.6rem;
  margin: 0 auto;
  max-width: 55rem;
  padding-bottom: 2rem;
  text-align: center;
  text-transform: uppercase;
}

.subtitle {
  /* padding: .5rem; */
  text-align: center;
}

.img {
  display: flex;
  justify-content: center;
  margin: 3rem auto;
}
