.container {
  color: var(--white);
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem 2rem;
}

.title {
  font-family: sohne-breit-fett;
  font-size: 2.1rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
}

.empty {
  text-align: center;
}

.interests {
  display: flex;
  flex-wrap: wrap;
  grid-column: 1 / span 2;
  padding: .5rem 2rem;
  width: 100%;
}

.interest {
  background-color: var(--yellow);
  border: 1px solid var(--black);
  font-family: pixel;
  font-size: 1.5rem;
  margin: 1rem 1rem 1rem 0;
  padding: 0.6rem 1.5rem 0.3rem;
  width: fit-content;
}
