.container {
  align-items: center;
  color: var(--white);
  display: flex;
  flex-direction: column;
  padding: 4rem 3rem 2rem;
}

.title {
  font-family: sohne-breit-fett;
  font-size: 3.6rem;
  text-align: center;
  text-transform: uppercase;
  max-width: 50%;
}

.action {
  font-family: sohne-breit;
  font-size: 1.8rem;
  padding: 1rem 0;
}

.text {
  align-self: flex-start;
  color: var(--purple);
  font-family: pixel;
  font-size: 2rem;
  padding: 3rem 0 1rem;
}

.img {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  mix-blend-mode: difference
}

.password {
  display: flex;
  margin: 2rem auto 5rem;
}

.character {
  border: 0.1px solid var(--yellow);
  font-size: 2rem;
  margin: 0.5rem;
  padding: 1rem 0;
  text-align: center;
  width: 3.5rem;
}

.characterEmpty {
  composes: character;
  color: var(--yellow);
  padding-top: 1rem;
}

.characterFilled {
  composes: character;
  background-color: var(--yellow);
  color: var(--black);
}

.input {
  background-color: var(--green);
  composes: character;
  padding: 0;
  text-align: center;
  width: 3.5rem;
}

.input:focus {
  outline: none;
}

.error {
  color: var(--red);
  font-size: 1.6rem;
}

.info {
 margin: 3rem auto 0;
}