.backButton {
  composes: backButton from "./ButtonStyles.module.css";
  align-self: flex-start;
  grid-column: 1;
  grid-row: 1 / span 3;
  justify-self: flex-start;
  margin: 10rem 3rem 0;
}

.rulesButton {
  composes: buttonPurple from "./ButtonStyles.module.css";
  grid-column: 1;
  grid-row: 1 / span 3;
  justify-self: flex-end;
  margin: 3rem
}

/* start */
.introContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 7rem;
  margin: 5rem auto;
  max-width: 150rem;
  row-gap: 5rem;
}

.bottom {
  grid-column: 1 / span 2;
  grid-row-start: 2;
  justify-self: center;
  width: 60%;
}

.inside {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 35rem;
}

.bottom .inside {
  min-height: 10rem;
}

.title {
  font-family: "sohne-breit-fett";
  font-size: 2.5rem;
  padding: 2rem 1rem;
  text-transform: uppercase;
  text-align: center;
}

.text {
  font-size: 2rem;
  width: 90%;
  text-align: center;
  margin-bottom: 1rem;
}

.bold {
  font-family: sohne-semifett;
  font-size: 2.1rem;
  padding: 2rem;
  padding-bottom: 0;
  text-align: center;
  width: 50%;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.gamecode {
  background-color: var(--yellow);
  font-family: "pixel";
  font-size: 3rem;
  padding: 1rem 2rem;
  border: .1rem solid black;
  text-align: center;
  letter-spacing: .4rem;
  width: 24rem;
  margin: auto
}

.gamecode:focus {
  outline: none;
  border: .2rem solid black;
}

.error{
  text-align: center;
  font-size: 2rem;
  color: var(--red);
  margin-top: 1rem;
}

/* new */
.playersContainer {
  margin: 2rem auto;
  width: 90%;
}

.playersInside {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.playersTitle {
  font-family: sohne-breit-fett;
  font-size: 3.1rem;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  padding: 3rem 0 0;
  text-align: center;
}

.playersText {
  font-size: 2rem;
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  text-align: center;
}

.players {
  display: flex;
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
  justify-content: space-between;
  margin: 2rem auto;
  width: 95%;
}

.playerImg {
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
  justify-self: center;
}

.playerTitle {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  font-family: sohne-breit-semifett;
  font-size: 3rem;
  justify-self: center;
  padding: 2rem 0;
}

.player {
  background-color: var(--yellow);
  border: solid 0.1rem var(--black);
  box-shadow: 0.1rem 0.1rem 0 0 var(--black), 0.2rem 0.2rem 0 0 var(--black),
    0.3rem 0.3rem 0 0 var(--black), 0.4rem 0.4rem 0 0 var(--black),
    0.5rem 0.5rem 0 0 var(--black), 0.6rem 0.6rem 0 0 var(--black),
    0.7rem 0.7rem #d3cfc5, 0.8rem 0.8rem #d3cfc5, 0.9rem 0.9rem #d3cfc5,
    1rem 1rem #d3cfc5;
  display: grid;
  column-gap: 5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  font-size: 1.8rem;
  margin: 0 auto;
  width: 85%;
  transition: .2s all ease;
}

.input {
  opacity: 0;
}

.input:checked + .player {
  background-color: var(--green);
  box-shadow: none;
  transform: translate(0.6rem, 0.6rem);
}

.player:hover {
  cursor: pointer;
  transform: translate(0.6rem, 0.6rem);
  box-shadow: 0.1rem 0.1rem 0 0 var(--black), 0.2rem 0.2rem 0 0 var(--black);
}

.playerList {
  display: flex;
  grid-column: 1 / span 2;
  justify-content: space-between;
}

.playerListItem {
  margin: 10rem auto 4rem;
  max-width: 35rem;
  position: relative;
  text-align: center;
  width: 45%;
}

.playerListItem::before {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  bottom: 8rem;
  content: "";
  display: block;
  height: 5rem;
  left: 0;
  position: absolute;
  width: 100%;
}

.playerListItem1 {
  composes: playerListItem;
}

.playerListItem2 {
  composes: playerListItem;
}

.playerListItem3 {
  composes: playerListItem;
}

.playerListItem4 {
  composes: playerListItem;
}

.playerListItem1::before {
  background-image: url(../public/assets/img/hackerpics/lobby-icon-1.svg);
}

.playerListItem2::before {
  background-image: url(../public/assets/img/hackerpics/lobby-icon-2.svg);
}

.playerListItem3::before {
  background-image: url(../public/assets/img/userpics/lobby-icon-1.svg);
}

.playerListItem4::before {
  background-image: url(../public/assets/img/userpics/lobby-icon-2.svg);
}

.smallInput{
  width: 4rem;
  text-align: center;
  border: .1rem solid var(--black);
  font-size: 2.2rem;
  font-family: "pixel";
  padding: 1.4rem 1rem;
  background-color: var(--yellow);
  margin: 0 .3rem;
}

.smallInput::-webkit-outer-spin-button,
.smallInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.smallInput[type=number] {
    -moz-appearance:textfield;
}

.smallInput:focus{
  outline: none;
  border: .2rem solid var(--black);
}

.passwordWrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 28rem;
  margin: auto;
  margin-bottom: 2rem;
}


@media only screen and (max-width: 1550px) {

  .introContainer{
    padding: 0 2rem;
  }
}


@media only screen and (max-width: 1250px) {

.rulesButton{
    display: none;
  }

.playerList {
    flex-direction: column;
  }


.label {
  width: 100%;
}

.playerList {
  justify-content: space-evenly;
  display: block;
  width: 100%;
}

.playerListItem {
  width: 100%;
}

.playerListItem1::before {
  background-image: url(../public/assets/img/hackerpics/lobby-icon-1.svg);
  bottom: 3rem;
}

.playerListItem2::before {
  background-image: url(../public/assets/img/hackerpics/lobby-icon-2.svg);
  bottom: 5rem;
}

.playerListItem3::before {
  background-image: url(../public/assets/img/userpics/lobby-icon-1.svg);
  bottom: 4rem;
}

.playerListItem4::before {
  background-image: url(../public/assets/img/userpics/lobby-icon-2.svg);
  bottom: 6rem;
}

.playersContainer {
    padding-bottom: 10rem;
  }


}


@media only screen and (max-width: 950px) {
  .introContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .bottom{
    width: 100%;
    margin-bottom: 5rem;
  }

  .players {
    flex-direction: column;
  }

  .label {
    margin: 2rem 0rem;
  }

}

