.playersContainer {
  margin: 3rem auto;
  width: 86%;
}

.playersInside {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.playersTitle {
  font-family: sohne-breit-fett;
  font-size: 3.1rem;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  padding: 3rem 0 0;
  text-align: center;
}

.rulesButton {
  composes: buttonPurple from "./ButtonStyles.module.css";
  grid-column: 1;
  grid-row: 1 / span 3;
  justify-self: flex-end;
  margin: 3rem;
}

.backButton {
  composes: backButton from "./ButtonStyles.module.css";
  align-self: flex-start;
  grid-column: 1;
  grid-row: 1 / span 3;
  justify-self: flex-start;
  margin: 10rem 0rem 0;
}

.backButtonLink {
  padding: 10rem 3rem 0;
}

.players {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin: 3rem auto;
}

.player {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
}

.playerTitle {
  font-family: sohne-breit-semifett;
  font-size: 3rem;
}

.playerName {
  font-size: 2.2rem;
}

.playerImg {
  margin: 3rem 0;
}

.loadingImg {
  padding: 8rem 0 5rem;
}

.vs {
  font-family: pixel;
  font-size: 15rem;
  color: var(--purple);
  margin: 0 7rem;
}

.gamecode {
  display: flex;
 justify-content: center;
}

.gamecodeChar {
  background-color: var(--yellow);
  border: 2px solid var(--black);
  font-family: pixel;
  font-size: 4rem;
  margin: 2rem 1rem;
  padding: 1rem 1.5rem 0;
}

.text {
  font-size: 2.4rem;
  margin: 1rem auto 5rem;
  text-align: center;
  width: 50vw;
}

@media only screen and (max-width: 1250px) {

  .rulesButton{
      display: none;
    }

  .vs{
    margin: 0;
    font-size: 12rem;
  }

  .playersContainer{
    padding-bottom: 4rem;
  }

}

@media only screen and (max-width: 1050px) {

  .vs{
    font-size: 4rem;
  }

  .playerTitle{
    text-align: center;
    height: 5rem;
  }

  .playerName{
    text-align: center;
    height: 5rem;
  }

}