.intro{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 4rem;
}

.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.back{
  font-size: 2.5rem;
  font-family: "pixel";
  text-transform: uppercase;
  text-align: center;
  margin-top: .8rem;
}

.backButton{
  margin: 4rem 3rem;
}

.backButton:hover{
  cursor: pointer;
}

.title{
  display: none;
}

.layoutWrapper{
  max-width: 100rem;
  width: 100%;
}

.container{
  width: 93rem;
  margin: 4rem auto;
  display: flex;
  justify-content: center;
  padding: 0 4rem;
}

.spacer{
  width: 15rem;
}

.logoContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.sublogo{
    width: fit-content;
    font-family: "sohne-breit-fett";
    font-size: 3.2rem;
    text-transform: uppercase;
    margin-top: -1.5rem;
    transform: translate(-1.5rem);
}

.startShortWrapper{
    max-width: 130rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 5rem auto;
}

.shortImgWrapper{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.subTitle{
    font-size: 2.8rem;
    font-family: "sohne-breit-fett";
    margin-bottom: 1.3rem;
    text-transform: uppercase;
}

.article{
    font-family: "sohne";
    font-size: 1.8rem;
    line-height: 1.7;
    margin-bottom: 4rem;
    padding-right: 5rem;
}

.shortLayoutWrapper{
    composes : layoutWrapper;
    max-width: 90rem;
}

.articlePurposeContainer{
    display: flex;
    margin-bottom: 2rem;
}

.shortContainer{
    composes : container;
    display: flex;
    flex-direction: column;
}

.articlePurpose{
    composes : article;
    width: 50%;
}

.startLayoutWrapper{
    composes: layoutWrapper;
    max-width: 80rem;
    margin-top: -7rem;
    margin-right: 5rem;
    z-index: 2;
    display: flex;
    align-self: flex-end;
}

.para{
    margin-bottom: 3rem;
    margin-top: 1rem;
}

.para:last-of-type{
    margin-bottom: -4rem;
}

.gameImageWrapper{
    align-self: center;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -30rem;
}

.gameImage{
    transform: translate(-8rem, 7.8rem);
    z-index: 1;
}

.gameLayoutWrapper{
    composes: layoutWrapper;
    min-width: 120rem;
    z-index: 2;
}

.gameContainer{
    composes: container;
    width: 100%;
    margin-bottom: 20rem;
    padding-right: 20rem;
}

.hackerUserWrapper{
    margin: auto;
    width: 106rem;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    margin-top: -15rem;
}

.userLayoutWrapper{
    width: 49rem
}

.hackerLayoutWrapper{
    composes: userLayoutWrapper;
}

.imageContainer{
   margin: -.1rem
}

@media only screen and (max-width: 1100px) {

  .container{
    width: 70rem;
    margin: 0 auto;
  }
}
