.section{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 4rem;
}

.formContainer{
  display: flex;
  justify-content: center;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


.layoutWrapper{
  max-width: 120rem;
  width: 100%;
}

.title{
  display: none;
}

.back{
  font-size: 2.5rem;
  font-family: "pixel";
  text-transform: uppercase;
  text-align: center;
  margin-top: .8rem;
}

.hackerBack{
  composes: back;
  color: var(--yellow)
}

.backButton{
  margin: 4rem 3rem;
}

.backButton:hover{
  cursor: pointer;
}

.spacer{
  width: 12rem;
}

.intro{
  font-size: 3.5rem;
  font-family: "sohne-breit-fett";
  text-transform: uppercase;
  text-align: center;
  padding: 0 13rem;
  line-height: 1.2;
}

.info{
  font-size: 1.7rem;
  font-family: "sohne";
  text-align: center;
  padding: 2rem 14rem;
  line-height: 1.25;
}

.container{
  width: 93rem;
  margin: 4rem auto;
}

.legend {
  display: flex;
  flex-direction: column;
  padding: 4rem;
}

.img {
  margin-bottom: 2rem;
}

.secButton{
  border: .1rem solid var(--black);
  background-color: var(--green);
  padding: 1rem;
  font-family: "pixel";
  font-size: 1.7rem;
  text-transform: uppercase;
}

.primButton{
  composes : secButton;
  background-color: var(--red);
  color: white;
  size: 2.2rem;
  padding: 1.7rem 5rem;
  transition: .2s all ease;
  box-shadow:
    .1rem .1rem 0 0 var(--black),
    .2rem .2rem 0 0 var(--black),
    .3rem .3rem 0 0 var(--black),
    .4rem .4rem 0 0 var(--black),
    .5rem .5rem 0 0 var(--black),
    .6rem  .6rem 0 0 var(--black);
}

.primButton:hover{
  transform: translate(.2rem, .2rem);
  cursor: pointer;
  box-shadow:
  .1rem .1rem 0 0 var(--black),
  .2rem .2rem 0 0 var(--black);
}

.primButton:active{
  box-shadow: none;
}

.passwordInfo{
  font-size: 1.4rem;
  font-family: "sohne";
  text-transform: none;
  width: 40rem;
  color: var(--black);
  margin-bottom: 1rem;
}

.label{
  display: flex;
  flex-direction: column;
  font-family: "pixel";
  color: var(--purple);
  font-size: 1.8rem;
  text-transform: uppercase;
}

.input{
  border: .1rem solid var(--black);
  font-size: 1.8rem;
  font-family: "sohne";
  background-color: transparent;
  padding: 1rem;
  margin-bottom: 3rem;
  width: 40rem
}

.input:focus{
  outline: none;
  border: .2rem solid var(--black);
}

.error{
  color: var(--red);
  font-size: 1.4rem;
  font-family: "sohne";
  text-transform: none;
  margin-bottom: .3rem;
}

.smallInput{
  composes: input;
  width: 4rem;
  text-align: center;
}

.passwordWrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.smallInputStripe {
height: 4rem;
}

.checkboxes{
  display: flex;
  flex-wrap: wrap;
  margin-right: -5rem;
  margin-top: 2rem;
 justify-content: center;
}

.radiobuttons{
  composes: checkboxes;
  margin-top: -2.4rem;
}

.checkBoxInfo{
font-size: 2rem;
margin-bottom: 3.1rem;
}

.checkBoxInfoNummer{
  background-color: var(--yellow);
  padding: 1rem .1rem 1rem 1rem;
  margin-right: .7rem;
  font-family: "pixelarial";
  border: .1rem solid;
}

.checkBoxLegend{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hackerInfo{
  composes: info;
  color: var(--brown)
}

.hackerIntro{
  composes: intro;
  color: var(--brown)
}

.hackerInput{
  composes: input;
  border: .1rem solid var(--brown);
  color: var(--brown);
  width: 33rem;
}

.hackerInput:focus{
  border: .2rem solid var(--brown);
}

.hackerPasswordInfo{
  composes:  passwordInfo;
  color: var(--brown)
}

.hackerPrimButton{
  composes: primButton;
  box-shadow:
    .1rem .1rem 0 0 var(--yellow),
    .2rem .2rem 0 0 var(--yellow),
    .3rem .3rem 0 0 var(--yellow),
    .4rem .4rem 0 0 var(--yellow),
    .5rem .5rem 0 0 var(--yellow),
    .6rem  .6rem 0 0 var(--yellow);
}

.hackerLabel{
  composes: label;
  width: 33rem;
  color: var(--yellow)
}

.hackerPrimButton:hover{
  transform: translate(.2rem, .2rem);
  cursor: pointer;
  box-shadow:
  .1rem .1rem 0 0 var(--yellow),
  .2rem .2rem 0 0 var(--yellow);
}

.hackerPrimButton:active{
  box-shadow: none;
}

@media only screen and (max-width: 1150px) {

  .container{
    width: 70rem;
    margin: 0 auto;
  }

  .intro{
  padding: 2rem 0
  }

.info{
  padding: 2rem 5rem;
  }

  .formContainer{
    flex-direction: column-reverse;
  }

  .img{
    display: none;
  }

  .legend{
    padding: 0;
    margin: 2rem 0rem;
  }

  .form{
    margin-bottom: 3rem;
    width: 100%;
  }

  .secButton{
    margin-top: -2rem;
    margin-bottom: 2rem;
  }

  .primButton{
    width: 40rem;
  }

  .section{
    padding-bottom: 4rem;
  }

}