:root {
  --black: black;
  --brown: #fcf7eb;
  --red: #ff0d5b;
  --orange: #ff3c1d;
  --yellow: #fdfb76;
  --green: #00db96;
  --gridorange: #fe745a;
  --purple: #8E1AF8;
  --shadow: rgba(0, 0, 0, 0.2);
}